<a href="https://colab.research.google.com/github/kirankumareranki/AIML-2025/blob/main/Lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab -01: Introduction to Python, matplotlib, Numpy

**Part 1: Implement basic data strcutures using Numpy, Pandas**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
## Create a list, array
list1 = [1,2,3,4]
array1  = np.array(list1)
array1
array2 = np.array([1,2,3,4])
list1, array1, array2

In [ ]:
## Identify the type of Data structure
type(list1), type(array1), type(array2)

In [ ]:
## Perform Mathematical operations on arrays, lists
print("Adding two arrays:", array1 + array2)
print("Subtracting two arrays: array1 - array2")
print("Multiplying two arrays: array1 * array2")
print("Dividing two arrays: array1 / array2)")
print("Exponentiating two arrays: array1 ** array2")
print("Multiply array to list: array2 * list1")

In [ ]:
# Combine text with Numpy function
print(f"Adding {array1} with {array2}")
print(f"Result: {np.add(array1, array2)}")

In [ ]:
# Find the Sin, Log, Log2, Exp values
print(f"Sine value of array1:{np.sin(array1)}")
print(f"Log value of array1:{np.log(array1)}")
print(f"Log base 2 value of array1:{np.log2(array1)}")
print(f"Log base 10 value of array1:{np.log10(array1)}")
print(f"Exponential value of array1:{np.exp(array1)}")

## Part 02: Visualize the data using Matplotlib, pyplot Libraries

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#Create the data
people = ['kiran', 'arun', 'vijay', 'varun', "vikas"]
age =[25, 30, 35, 40, 45]
height =[145, 151, 165, 173, 190]
weight=[45, 55, 65, 75, 90]

In [ ]:
#Generate a scatter plot.
# Find the relationship between Age and Height

plt.scatter(age, height)
plt.xlabel('Age')
plt.ylabel('Height')
plt.title('Age vs Height')
plt.show()

In [ ]:
#Genrate Bar Chart
#Generate the bar Chart for Height.
plt.figure(figsize=(5,4))
plt.bar(people, height)
plt.xlabel('People')
plt.ylabel('Height')
plt.title('Height of People')
plt.show()
save = plt.savefig('bar_chart.png')